body
  margin: 0
  background-color: transparent

center
  text-align: left
  div#header
    position: relative !important
    width: auto !important
    height: auto !important
    top: auto !important
    left: auto !important
    background: none !important
    color: #000 !important
    h1
      position: relative
      top: auto !important
    & + div
      margin: 0 !important
      & > table tbody tr
        td:not(:nth-child(2))
          display: none
        td > #bgcontent
          background: none
          & > div
            position: relative
            top: auto !important
            margin: 0 !important
            & + font
              display: none
