doctype html
html(lang="en-US")
  head
    title MTGCommander Bookmarklet
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
  body
    h1 MTGCommander Bookmarklet
    a(href="javascript:(function(){if (!document.getElementById('mtgcommmander_style_update')){var objHead = document.getElementsByTagName('head'); if (objHead[0]){if (document.createElementNS && objHead[0].tagName == 'head') var objCSS = objHead[0].appendChild(document.createElementNS('http://www.w3.org/1999/xhtml', 'link')); else var objCSS = objHead[0].appendChild(document.createElement('link')); objCSS.id = 'mtgcommmander_style_update'; objCSS.rel = 'stylesheet'; objCSS.href = 'http://eriklopez.net/mtgcommander-bookmarklet/css/mtgc.css'; objCSS.type = 'text/css';}}})()") BOOKMARKLET
