body {
  margin: 0;
  background-color: transparent; }

center {
  text-align: left; }
  center div#header {
    color: #000;
    position: auto;
    background: none; }
    center div#header h1 {
      position: auto;
      top: auto; }
    center div#header + div {
      position: auto;
      margin: 0; }
      center div#header + div table tbody tr td:not(:nth-child(2)) {
        display: none; }
      center div#header + div table tbody tr td > #bgcontent {
        background: none; }
        center div#header + div table tbody tr td > #bgcontent > div {
          position: auto;
          top: auto;
          margin: 0; }
